target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

# module模块下的文件
**/mvnw
**/mvnw.cmd
**/.mvn
**/target/
**/.gitignore
**/src/main/resources/src/views/modules

# 根模块下的文件
.idea
renren-generator/LICENSE
renren-generator/README.md

renren-fast/LICENSE
renren-fast/README.md
